	body{
			margin:0px;
			padding: 0px;
			min-width: 1880px;
	}
	#zt{
		background-color: rgb(250,232,200);
	}
	#ymdh{
			width: 100%;
			height: 120px;
			background-image: linear-gradient(90deg,rgb(222,29,33),rgb(161,0,13));
	}
	#ms{
		margin-left: 22%;
		display: inline-block;
	}
	#ymss{
		width: 23%;
		height: 36px;
		border-radius: 5px;
		border:2px solid white;
		background-repeat: no-repeat;
		background-position: right;
	}
	#ymqq{
		display: inline-block;
	}
	#ymqq li{
		display: inline-block;
		padding-left: 8px;
		padding-right: 8px;
	}
	#ymqq a{
		color: white;
	}
	#ymqq li:hover{
		line-height: 30px;
		height: 30px;
		background-color:rgb(155,0,10);
		border-radius: 5px;
	}
	#hjd{
		width: 76px;
		height: 33px;
		position: relative;
		left:-82px;
		background-color: rgb(168,0,15);
		border:none;
		border-radius: 3px;
		color: white;
	}
	#hjd:hover{
		background-color: rgb(137,5,17);
	}
	#nav{
		width:100%;
		height: 80px;
		background-color: rgb(255,255,255);
		box-shadow: 2px 2px 4px #ddd;
	}
	#nav li{
		display: inline-block;
		margin-left: 0px;
		line-height: 80px;
		padding: 0px 20px;
	}
	#nav a{
		color: rgb(68,68,68);
		font-size: 18px;
		font-weight: bold;
		font-family:"微软雅黑"; 
	}
	#nav a:hover{
		text-decoration: none;
	}
	#dh1{
		margin-left: 390px;
	}
	#dh1 #hg{
		margin-top: -40px;
		margin-left: -10px;
	}
	#cpdq,#cpdq1{
		width: 990px;
		height: 280px;
		background-color: white;
		padding-top:5px;
		padding-left: 5px;
		display: none;
		position: absolute;
		left: 430px;
		box-shadow: 2px 2px 4px #ddd;
		z-index: 101;
	}
	#cpdq .xb,#cpdq1 .xb{
		color: red;
		font-family: "微软雅黑"; 
		font-size: 17px;
		margin-left: 15px;
		margin-top: 20px;
	}
	#cpdq span,#cpdq1 span{
		font-size: 13px;
		margin-left: 15px;
	}
	#cpdq a,#cpdq1 a{
		color: rgb(153,153,153);
	}
	.dis{
		display: inline-block;
	}
	#cpdq img,#cpdq1 img{
		position: absolute;
		right: -50px;
		bottom: -35px;
	}
	#nav #dh1 li:hover{
		background-color: rgb(250,250,250);
	}
	